body {
    background-image: url("images/qcu50122.jpg");
    text-align: center;
    color: red;
    font-family: monospace, "Courier New";
}

h1 {
    font-size: 64px;
    font-weight: bold;
}

h2 {
    font-size: 32px;
    font-weight: bold;
}


p {
    font-size: 24px;
}


div.header {
    border: 2px solid blue;
	width:auto;
	height:auto;

    background-image: url("images/mountainfractal.jpg");
}

div.column {
    flex: 67%; 
}

div.left{
    width: 67%;
    border: 2px solid green;
}

div.right {
    width: 33%;
    border: 2px solid blue;
}
div.row {
    display: flex;
}




img#flip{
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}